extends:
  - stylelint-config-standard
  - stylelint-config-rational-order

plugins:
  - stylelint-order
  - stylelint-config-rational-order/plugin

rules:
  declaration-empty-line-before: null
  plugin/rational-order:
  - true
  - empty-line-between-groups: false
  at-rule-no-unknown: null